//Fontes
$fontePrincipal: Roboto, sans-serif;;

//Esquema de cores
$corDeFundo:#f5f6fa;
$corPrincipal:#182C61;
$corSecundaria: #fff;
$corBotao: #44bd32;
$corBotaoLightnen: #4cd137;

//Breakpoints
$mobile: 767px;
$tablet: 1023px;